# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\doram\Desktop\Kurzusok-hazik-sapi\II. FELEV\ALG ES ADATSZERK I LABOR Feladatok\Labor1-Projekt1B\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
